<h1>Editing <%= human_name %></h1>

<%%= render 'form' %>

<%%= link_to icon(:info, text: 'Show'), @<%= singular_table_name %>, class: 'btn btn-primary' %> |
<%%= link_to icon(:arrow_left, text: 'Back to <%= plural_table_name.titleize %>'), <%= index_helper %>_path, class: 'btn btn-default' %>